/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

 /* For text_with_image */
 .text-image-container {
  display: flex;
  align-items: center;
}

.text-content {
  flex: 1;
  padding-right: 1rem;
  padding-left: 1 rem;
}

.image-content img {
  max-width: 100%;
  height: auto;
}
.caption {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

