{% set section = section_name %} 
{% set data = load_data(path="static/toml/test.toml") %}
{% set data = data[section] %} {# Access the specified section dynamically #}
<div class="code-block">
  {{ "## " ~ data.A | markdown | safe }}
  <pre class="txt">
{{ data.A}}
{{data.B}}
{{data.C}}
</pre>
</div>
<div>
  <br>
  Now we will try to do multiple tomls
  <br>
  <br>
</div>
{% set data = load_data(path="static/toml/test.toml") %}
<div class="code-block">
  {% for section_name, section_data in data %}
  {{ "## " ~ section_data.A | markdown | safe }}
  <pre class="txt">
{{ section_data.A }}
{{ section_data.B }}
{{ section_data.C }}
  </pre>
  {% endfor %}
</div>
<style>
  .code-block {
    border-radius: 5px;
    overflow: hidden;
  }

  pre.txt{
    white-space: pre-wrap;
    margin: 0;
    padding: 12px;
    font-family: monospace;
  }
</style>