<blockquote class="callout_warning">
  <div class="content">
    {{ body | markdown | safe }}
  </div>
</blockquote>
<style>
  .callout_warning {
    line-height: inherit;
    margin-bottom: 20px;
    border: 1.5px solid;
    border-color: #449bff;
    background-color: #101f32;
    color: #f6e071;
    .icon {
      height: 1.75em;
      display: flex;
      align-items: center;
    }
    .content {
      p {
        margin: 0;
        color: #fff9dc;

        +p {
          margin: 0.2em 0 0.5em;
        }
      }
    }

  }
</style>