<blockquote class="callout_warning">
  {% set icon = load_data(path="static/icon/warning.svg") %}
  <div class="icon">
    <span>
      {{ icon | safe }}
      {% if header %}
      <span><strong>
          {{ header }}
        </strong></span>
      {% endif %}
    </span>
  </div>
  <div class="content">
    {{ body | markdown | safe }}
  </div>
</blockquote>
<style>
  .callout_warning {
    line-height: inherit;
    margin-bottom: 20px;
    border: 1.5px solid;
    border-color: #449bff;
    background-color: #101f32;
    color: #f6e071;
    padding: 10px;
  }

  .callout_warning .icon {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .callout_warning .icon span {
    display: flex;
    align-items: center;
  }

  .callout_warning .icon span svg {
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
  }

  .callout_warning .icon span strong {
    margin-left: 15px; /* Increase margin to accommodate larger icon */
    flex: 1;
  }

  .callout_warning .content {
    padding: 10px;
  }

  .callout_warning .content p {
    margin: 0;
    color: #fff9dc;
  }

  .callout_warning .content p + p {
    margin: 0.2em 0 0.5em;
  }
</style>