<!-- PEN-FAST Widget -->
<!-- Author: Joshua Yu -->
<!-- Instructions for tool should be provided separately within the page itself. -->
<div class="cleandarkBox" style="padding-bottom: 2vh;">
  <table class="questionTable" style="width:100%;">
    <tr class="questionTableRow">
      <!-- TITLE -->
      <td colspan="2">
        <h3 class="feature-title" style="text-align: center;padding-bottom: 1rem;">
          PEN-FAST
        </h3>
      </td>
    </tr>
    <tr class="questionTableRow">
      <td><span style="font-weight: bold;">F</span>
        - Five years or less since reaction</td>
      <td style="width:120px;">
        <label class="qswitch">
          <input type="checkbox" unchecked id="q1">
          <span class="qslider round"></span>
        </label>
      </td>
    </tr>
    <tr class="questionTableRow">
      <td><span style="font-weight: bold;">A</span>
        - Anaphylaxis or angioedema</td>
      <td>
        <label class="qswitch">
          <input type="checkbox" unchecked id="q2">
          <span class="qslider round"></span>
        </label>
      </td>
    </tr>
    <tr class="questionTableRow">
      <td>
        <span style="font-weight: bold;">S</span>
        - Severe cutaneous adverse reaction
      </td>
      <td>
        <label class="qswitch">
          <input type="checkbox" unchecked id="q3">
          <span class="qslider round"></span>
        </label>
      </td>
    </tr>
    <tr class="questionTableRow">
      <td><span style="font-weight: bold;">T</span>
        - Treatment recieved for reaction (or unsure)</td>
      <td>
        <label class="qswitch">
          <input type="checkbox" unchecked id="q4">
          <span class="qslider round"></span>
        </label>
      </td>
    </tr>
    <tr class="questionTableRow">
      <td colspan="2">
        <div class="whitebox" style="padding-top: 1em;">
          <h3 class="feature-subtitle" style="margin-top: 0;">CALCULATED RISK:</h3>
          <p id="scorereport"></p>
        </div>
      </td>
    </tr>
  </table>
</div>
<script src="/js/widget_penfast.js"></script>
<link rel="stylesheet" href="/css/widget_penfast.css">